In [1]:
import matplotlib.pyplot as plt
import matplotlib
import os
import pandas as pd
import numpy as np
%matplotlib inline
matplotlib.style.use('ggplot')
import datetime
import locale
import time
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')
import glob

In [2]:
product = 'acelga/'
pro = 'production/'
imp = 'import/'
pwd = '/Volumes/Macintosh HD/_GitHub/journey-of-food/data/producto/'
aux = '/Volumes/Macintosh HD/_GitHub/journey-of-food/data/aux/'
dwd = '/Volumes/Macintosh HD/_GitHub/journey-of-food/data/source/'

In [3]:
os.chdir(dwd)
files = os.listdir(dwd)
files

['FH_EPRODMESK.xlsx',
 'FH_EPRODPAISK.xlsx',
 'FH_EPROVPRODK.xlsx',
 'FH_IPRODMESK.xlsx',
 'FH_IPRODPAIK.xlsx',
 'import_2015.csv',
 '~$FH_IPRODPAIK.xlsx']

In [4]:
dataImp = pd.read_excel('FH_IPRODMESK.xlsx', sheetname='2015', encoding ='utf-8',index_col=0)
dataImp.fillna(0,inplace=True)

In [5]:
dataImp.drop('Total',axis=1,inplace=True)

In [6]:
dataImp.head()

,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
ACELGA,4,6,29,27,98,26,4,5,5,14,6,26
AJO,93,429,329,409,267,286,352,871,1201,399,321,449
ALCACHOFA,11,10,12,38,9,7,5,4,14,5,5,16
APIO,49,5,6,18,3,16,57,10,82,70,87,49
BERENJENA,303,118,69,65,59,73,71,106,220,78,46,143

In [7]:
dataImp = dataImp.loc[pd.notnull(dataImp.index)]

In [8]:
dataImp.index = [x.lower() for x in dataImp.index.values.tolist()]

In [9]:
dataImp.loc[dataImp.index=='acelga'].transpose().sort_values('acelga',ascending=False).sum()

acelga    250
dtype: int64

In [10]:
product = 'acelga/'
pro = 'production/'
imp = 'import/'
exp = 'export/'
pwd = '/Volumes/Macintosh HD/_GitHub/journey-of-food/data/producto/'
aux = '/Volumes/Macintosh HD/_GitHub/journey-of-food/data/aux/'
dwd = '/Volumes/Macintosh HD/_GitHub/journey-of-food/data/source/'

In [11]:
os.chdir(dwd)
files = os.listdir(dwd)
files

['FH_EPRODMESK.xlsx',
 'FH_EPRODPAISK.xlsx',
 'FH_EPROVPRODK.xlsx',
 'FH_IPRODMESK.xlsx',
 'FH_IPRODPAIK.xlsx',
 'import_2015.csv',
 '~$FH_IPRODPAIK.xlsx']

In [12]:
dataExp = pd.read_excel(files[0], sheetname='2015', encoding ='utf-8',index_col=0,na_values='x')
dataExp.fillna(0,inplace=True)

In [13]:
dataExp.drop('Total',axis = 1, inplace=True)

In [14]:
dataExp = dataExp.loc[pd.notnull(dataExp.index)]

In [15]:
dataExp.index = [x.lower() for x in dataExp.index.values.tolist()]

In [16]:
len(dataImp)

49

In [67]:
for producto in dataImp.index.values:
    locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')
    datosImp = dataImp.loc[dataImp.index==producto]
    datosExp = dataExp.loc[dataImp.index==producto]
    datos = pd.concat([datosImp, datosExp])
    datos.index = ['Importado','Exportado']
    datos.columns=['01-Ene-2015','01-Feb-2015','01-Mar-2015','01-Abr-2015','01-May-2015','01-Jun-2015','01-Jul-2015','01-Ago-2015','01-Sep-2015','01-Oct-2015','01-Nov-2015','01-Dic-2015']
    datos = datos.transpose()
    datos.index.name = 'Mes' 
    try:
        datos.to_csv(pwd+producto+'/'+producto+'_import_export_mes.csv')
    except:
        datos.to_csv(pwd+producto+'_import_export_mes.csv')

In [65]:
datos.index

Index(['01-Ene-2015', '01-Feb-2015', '01-Mar-2015', '01-Abr-2015',
       '01-May-2015', '01-Jun-2015', '01-Jul-2015', '01-Ago-2015',
       '01-Sep-2015', '01-Oct-2015', '01-Nov-2015', '01-Dic-2015'],
      dtype='object', name='Mes')